.elements__bookmark {
    background-image: url(../../../images/heart.svg);
    width: 22px;
    height: 19px;
    border: none;
    background-color: transparent;
}
.elements__bookmark:hover {
    opacity: 0.5;
    cursor: pointer;
}