.popup__submit {
    max-width: 358px;
    width: 100%;
    background: #000000;
    border-radius: 2px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}
.popup__submit:hover {
    opacity: 0.8;
}
@media screen and (max-width: 585px) {
    .popup__submit {
        max-width: 238px;
        height: 46px;
    }
}