.popup__close {
    background-image: url(../../../images/popup-close.svg);
    position: absolute;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    cursor: pointer;
}
.popup__close:hover {
    opacity: 0.6;
}
@media screen and (max-width: 585px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-size: contain;
        top: -36px;
        right: 0;
    }
}