.elements__delete {
    background-image: url(../../../images/Trash.svg);
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.elements__delete:hover {
    opacity: 0.6;
}