.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    margin-right: 30px;
}
@media screen and (max-width: 585px) {
    .profile__avatar {
        margin-right: 0px;
        margin-bottom: 22px;
    }
}