.elements__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 17px;
}
@media screen and (max-width: 960px) {
    .elements__list {
        margin: 0 auto;
        max-width: 581px;
        grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
    }
}
@media screen and (max-width: 585px) {
    .elements__list {
        max-width: 282px;
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    }
}